[package]
name = "admin-verification"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
cosmwasm-std = "1.5.0"
serde = { version = "1.0", features = ["derive"] }
cw-storage-plus = "1.2.0"
